
.xr-paginator {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    color: #555;
    font: 12px/1.5em Tahoma, Helvetica, Arial, sans-serif;
}

.xr-paginator a {
    display: inline-block;
    zoom: 1;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #d4d4d4;
    vertical-align: middle;
    text-decoration: none;
    color: #555555;
    margin-right: 4px;
    cursor: pointer;
}

.xr-paginator .pre_btn .have_page {
    background-position: 0px -67px;
}

.xr-paginator .pre_btn .no_page {
    background-position: 0px -40px;
}

.xr-paginator .pre_btn i {
    padding-left: 8px;
}

.xr-paginator .pre_btn i, .xr-paginator .next_btn i {
    background: url(images/FormPage/icon_s_new.png) no-repeat;
    font-style: normal;
}

.xr-paginator a:hover, .xr-paginator a.cur {
    border: 1px solid #f75349;
    background-color: #FFEDE1;
    text-decoration: none;
    color: #f75349;
}

.xr-paginator .next_btn .more {
    background-position: 40px -21px;
}

.xr-paginator .next_btn .no_more {
    background-position: 40px 3px;
}

.xr-paginator .next_btn i {
    padding-right: 8px;
}

.xr-paginator .pre_btn i, .xr-paginator .next_btn i {
    background: url(images/FormPage/icon_s_new.png) no-repeat;
    font-style: normal;
}

.xr-paginator span {
    display: inline-block;
    zoom: 1;
    float: left;
    padding-top: 4px;
}

