
@charset "utf-8";
/* CSS Document */
.xrui-AccordionMenu,
.xrui-AccordionMenu ul,
.xrui-AccordionMenu li,
.xrui-AccordionMenu a,
.xrui-AccordionMenu span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.xrui-AccordionMenu li {
    list-style: none;
}

.xrui-AccordionMenu > li {
    margin-top: 8px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* Layout & Style */
.xrui-AccordionMenu li > a {
    display: block;
    position: relative;
    min-width: 100px;
    padding: 0 10px 0 40px;
    padding-right: 20px;
    height: 38px;

    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    text-decoration: none;
    background: #87b631;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.xrui-AccordionMenu > li:hover > a,
.xrui-AccordionMenu > li:target > a,
.xrui-AccordionMenu > li > a.xrui-Accordion-active {
    color: #fff;
    background: #87b631;
    text-align: right;
    padding-right: 20px;
}

.xrui-AccordionMenu li > a span {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;

    font: normal bold 12px/18px Arial, sans-serif;
    background: #404247;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.xrui-AccordionMenu > li:hover > a span,
.xrui-AccordionMenu > li:target > a span,
.xrui-AccordionMenu > li > a.xrui-Accordion-active span {
    color: #fdfdfd;
    /*  text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);     */
    background: #3e5706;
}

/* Images */

.xrui-AccordionMenu > li > a:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;

    background-repeat: no-repeat;

    background-position: 0px 0px;
}

.xrui-AccordionMenu li.files > a:before {
    background-position: 0px 0px;
}

.xrui-AccordionMenu li.files:hover > a:before,
.xrui-AccordionMenu li.files:target > a:before,
.xrui-AccordionMenu li.files > a.xrui-Accordion-active:before {
    background-position: 0px -24px;
}

.xrui-AccordionMenu li.mail > a:before {
    background-position: -24px 0px;
}

.xrui-AccordionMenu li.mail:hover > a:before,
.xrui-AccordionMenu li.mail:target > a:before,
.xrui-AccordionMenu li.mail > a.xrui-Accordion-active:before {
    background-position: -24px -24px;
}

.xrui-AccordionMenu li.cloud > a:before {
    background-position: -48px 0px;
}

.xrui-AccordionMenu li.cloud:hover > a:before,
.xrui-AccordionMenu li.cloud:target > a:before,
.xrui-AccordionMenu li.cloud > a.xrui-Accordion-active:before {
    background-position: -48px -24px;
}

.xrui-AccordionMenu li.sign > a:before {
    background-position: -72px 0px;
}

.xrui-AccordionMenu li.sign:hover > a:before,
.xrui-AccordionMenu li.sign:target > a:before,
.xrui-AccordionMenu li.sign > a.xrui-Accordion-active:before {
    background-position: -72px -24px;
}

/* xrAccordionSecondNav */

.xrui-AccordionSecondNav li a {
    color: #3f3e3e;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);

    background: #fff;
}

.xrui-AccordionSecondNav li:hover a {
    background: #fff;
    color: #007827;
}

.xrui-AccordionSecondNav li:last-child a {
    border: none;
}

.xrui-AccordionSecondNav li > a span {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
    background: transparent;
    /*border: 1px solid #c9c9c9;  */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.xrui-AccordionSecondNav em {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
    color: #a6a6a6;
    font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.xrui-AccordionMenu li > .xrui-AccordionSecondNav {
    display: none;
}

.xrui-AccordionMenu li:target > .xrui-AccordionSecondNav {
    display: block;
}

/**/

.xrui-AccordionSecondNav  .xrui-AccordionSecondNav-active {
    background: none;
    color: #007827;
}

.xrui-AccordionSecondNav  li:hover .xrui-AccordionSecondNav-active {
    background: none;
}

