.xrRangeDatePicker {
    min-width: 800px;
}
.xrRangeDatePicker .inputTime label,.xrRangeDatePicker .inputTime span,.xrRangeDatePicker .inputTime input{
    display: block;
    float: left;
}
.xrRangeDatePicker .TimeDiv {
    float: left;
    line-height: 24px;
}

.xrRangeDatePicker .inputTime {
    padding-top: 4px;
    float: left;
}

.xrRangeDatePicker .inputTime label {
    font-size: 12px;
    line-height: 24px;
}

.xrRangeDatePicker .inputTime input {

    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 4px;

}
.xrRangeDatePicker .inputTime img{
    margin-top: -3px;
}

.xrRangeDatePicker .setTimeBg{
    float:left;
    display:block;
    width:29px;
    height:30px;
    background: url(./images/RangeDatePicker/timer.png);
}


.xrRangeDatePicker .xrRangeDate-choiceTime {
    padding-top: 8px;
    float: right;
}

.xrRangeDatePicker .xrRangeDate-choiceTime a {
    font-size: 12px;
    color: #0088cc;
    text-decoration: none;
    display: block;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 8px;
}

.xrRangeDatePicker .xrRangeDate-choiceTime .xrRangeDate-timeChoice {
    color: #fff;
    background: #0088cc;

}