
/*xr_navMenu */
.xr_navMenu {

}

.xr_navMenu_firNav {
    float: left;
    display: block;
    position: relative;
    text-align: center;
}

.xr_text_init {
    background-color: red;
    color: #fff;
}

.xr_text_hover {
    background-color: yellow;
    color: #ccc;
}

.xr_text_select {
    background-color: yellow;
    color: #ccc;
}

.xr_secNav_init {
    background-color: #ccc;
    color: #fff;
}

.xr_secNav_hover {
    background-color: blue;
    color: #ccc;
}

.xr_secNav_select {
    background-color: blue;
    color: #ccc;
}

