/*表格内容区域，定义行高*/
.ui-jqgrid tr.jqgrow td {
    height: 28px; /* row 高度 */
}

/*去除表格内边线，表格内容区域的边线*/
.ui-jqgrid tr.ui-row-ltr td {
    text-align: left;
    border-right-width: 0px;
    border-right-color: #fff;
    border-right-style: hidden;
}

/*表头样式*/
.ui-jqgrid .ui-jqgrid-htable th {
    height: 28px;
    padding: 0;
    background: #8c8c8c;

}

/*控制表头的字体样式*/
.ui-jqgrid tr.jqgrow td {
    font-family: '微软雅黑';
    color: #666;
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    padding: 2px;
    padding-left:5px;
    border-bottom-width: 0px;
    border-bottom-color: #fff;
    border-bottom-style: hidden;
}

/*控制表头字体*/
.ui-jqgrid .ui-jqgrid-sortable{
    border: none;
    height: 28px;
    font-weight: normal;
    font-family: "SimHei";
    color:#fff;
    background: #8c8c8c;
    font-size:12px;
}


/*隐藏掉表头可拖动span*/
.ui-jqgrid .ui-jqgrid-resize-ltr {
    display: none;
}

/**/
.ui-jqgrid .ui-jqgrid-btable{
    table-layout:auto;
}

/*改变列表头部字体行高*/
.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 14px;
}


/*修改头部边线 */
.ui-jqgrid .ui-state-hover,.ui-jqgrid .ui-widget-content .ui-state-hover,
.ui-jqgrid .ui-widget-header .ui-state-hover,.ui-jqgrid .ui-state-focus,.ui-jqgrid .ui-widget-content .ui-state-focus,.ui-jqgrid .ui-widget-header .ui-state-focus {
    /*border: 1px solid #bababa;*/
    border: none;
    border-right:1px solid #fff;
    background-image:none;
    color: #8c8c8c;
}
.ui-jqgrid .ui-state-default,.ui-jqgrid  .ui-widget-content .ui-state-default,.ui-jqgrid .ui-widget-header .ui-state-default {
    border: none;
    border-right:1px solid #fff;
    background-image:none;
    color: #8c8c8c;
}



/**改变奇数偶数行背景**/
.ui-jqgrid  .setOddEvenBg td {
    background: #f6f7f7;
}

/*修改每一列的样式*/
.xrc_row {
    background: #fff;
    color: #000;
    border: none;
}

.ui-widget-content {
    border: 1px solid #fff;
}