.xr_xryl_init {
    background-image: url(../images/tt1.jpg);
}

.xr_xryl_hover {
    background-image: url(../images/tt2.jpg);
}

.xr_xryl_select {
    background-image: url(../images/tt2.jpg);
}

.xr_ssa_init {
    background-image: url(../images/tt1.jpg);
}

.xr_ssa_hover {
    background-image: url(../images/tt2.jpg);
}

.xr_ssa_select {
    background-image: url(../images/tt2.jpg);
}

.xr_mmk_init {
    background-image: url(../images/tt1.jpg);
}

.xr_mmk_hover {
    background-image: url(../images/tt2.jpg);
}

.xr_mmk_select {
    background-image: url(../images/tt2.jpg);
}

.xr_mme_init {
    background-image: url(../images/tt1.jpg);
}

.xr_mme_hover {
    background-image: url(../images/tt2.jpg);
}

.xr_mme_select {
    background-image: url(../images/tt2.jpg);
}

.xr_icon_icon {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: left;

}

.xr_uuu_icon {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: right;

}

.xr_aaa_icon {
    background-image: url(../images/docs.png);
    background-repeat: no-repeat;
    background-position: right;

}